@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  font-size: calc(0.75em + 0.3vw);
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color: #2B2B2B;
  color: #A9B7C6;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 0.6em;
  row-gap: 0.4em;
}

.flex-column {
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.6em;
  row-gap: 0.4em;
}

.with-vpadding {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.with-hpadding {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.level-1 {
  background-color: #2B2B2B;
}

.level-2 {
  background-color: #343434;
}

.level-3 {
  background-color: #2B2B2B;
}

.level-4 {
  background-color: #343434;
}

.level-5 {
  background-color: #2B2B2B;
}

.keyword {
  color: #CC7832;
  font-weight: bold;
}

.argument-name {
  color: #467CDA;
}

.string-text {
  color: #6A8759;
  font-weight: bold;
}

.reference {
  color: #9876AA;
  font-weight: bold;
}

[sourceId]:hover,
.source-highlight {
  background-color: #532B2E;
}

[referenceId]:hover,
.reference-highlight {
  background-color: #155221;
}

[originId]:hover,
.origin-source-highlight {
  background-color: #3A3A3A;
}

[originReferenceId]:hover,
.origin-reference-highlight {
  background-color: #5E5339;
}
