@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  font-size: calc(0.75em + 0.5vw);
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color: #252525;
  color: #A9B7C6;
}
